[submodule "memutilz/3rdParty/Qt-Advanced-Docking-System"]
	path = memutilz/3rdParty/Qt-Advanced-Docking-System
	url = https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System.git
[submodule "agent/3rdParty/minhook"]
	path = agent/3rdParty/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "agent/3rdParty/libffi"]
	path = agent/3rdParty/libffi
	url = https://github.com/libffi/libffi.git
