[submodule "ext/sanitizers-cmake"]
	path = ext/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "ext/vcpkg"]
    path = ext/vcpkg
    url = https://github.com/microsoft/vcpkg.git