* {
    font-family: "Inter 18pt";
    font-size: 10pt;
    color: #ffffff
}

QWidget {
    background-color: #0b0b0b;
    border: 1px solid transparent;
}

QMainWindow {
    background-color: #101010
}

IconButton {
    background-color: #101010;  /* normal */
    border: 1px solid transparent;
}

IconButton:hover {
    background-color: #8585EE;  /* hover */
}